<!--about-page -->
<div class="service">
	<div class="container">
		<div class="service-grids">
			<div class="col-md-4 service-grid">
				<img src="@routes.Assets.at("images/2.png")" alt=" " class="img-responsive"/>
				<h4>¿Qué hay mejor que una sonrisa?</h4>
				<p>El trato con el cliente es uno de los pilares de
					nuestro éxito y trabajo.</p>
				<div class="service-hov">
					<h5>Personalidad</h5>
					<p>Porque una sonrisa vale más que mil palabras.</p>
				</div>
			</div>
			<div class="col-md-4 service-grid">
				<img src="@routes.Assets.at("images/3.png")" alt=" " class="img-responsive"/>
				<h4>El saber hacer, y nuestras manos. La mejor presentación</h4>
				<p>El secreto mejor guardado está en nuestras manos. Fruto de años
					de experiencia y saber hacer.</p>
				<div class="service-hov">
					<h5>Profesionalidad</h5>
					<p>Más de doce años de experiencia.</p>
				</div>
			</div>
			<div class="col-md-4 service-grid">
				<img src="@routes.Assets.at("images/4.png")" alt=" " class="img-responsive"/>
				<h4>Todos los detalles importan</h4>
				<p>Nos encargamos de que nuestro trabajo supere las
					expectativas de nuestros clientes.</p>
				<div class="service-hov">
					<h5>Perfeccionismo</h5>
					<p>La clave de la belleza.</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //typography-page -->