@()
<!-- banner -->
<div class="banner1">
    <div class="container">
            <!-- header -->
        <div class="header">
            <div class="header-left">
                <a href="/"><i class="glyphicon glyphicon-leaf" aria-hidden="true"> </i>Mímate <span>Relajación & Estética</span></a>
            </div>
            <div class="header-left1">
                <span class="menu"><img src="@routes.Assets.at("images/menu.png")" alt=" "></span>
                <ul class="nav1">
                    <li class="hvr-sweep-to-bottom"><a href="/">Inicio<i class="glyphicon glyphicon-home" aria-hidden="true"></i></a></li>
                    <li class="hvr-sweep-to-bottom"><a href="/services">Servicios<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i></a></li>
                    <li class="hvr-sweep-to-bottom"><a href="/about">Sobre Nosotros<i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i></a></li>
                    <li class="hvr-sweep-to-bottom"><a href="/contact">Contacto<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="banner-info" style="margin: 80px 0 0 0">
            <h1>Siente la vida<br> de una forma diferente</h1>
            <p>Encuentra en centro de estética Mímate<br>
                el bienestar y la belleza.
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
    <!-- //banner -->