@main("Mimate Centro de estética y relajación") {
    <!--contact-->
    <div class="contact">
        <div class="container">
            <h3>Encuéntranos</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18091.507988782912!2d-4.404845264582242!3d36.71879057985403!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c6f0097836ee454!2sM%C3%ADmate+Centro+de+Est%C3%A9tica+y+Relajaci%C3%B3n!5e0!3m2!1ses!2ses!4v1471267802333" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="contact-form">
                <div class="col-md-4 contact-form-left">
                    <h4>Dirección :</h4>
                    <p>Paseo de Reding, 53</p>
                    <p>29016 Málaga, Málaga</p>
                    <p>Teléfono : +34 951 25 78 23</p>
                </div>
                <div class="col-md-8 contact-form-right">
                    <h4>Sugerencias</h4>
                    <form>
                        <input type="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="text" value="Teléfono" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
                        <textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje...';}" required="">Mensaje...</textarea>
                        <input type="submit" value="Enviar" >
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//contact-->
}