<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Mímate - Centro de estética y relajación</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Spa Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../public/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../../public/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<!-- header -->
			<div class="header">
				<div class="header-left">
					<a href="index.html"><i class="glyphicon glyphicon-leaf" aria-hidden="true"> </i>Mímate <span>Relajación & Estética</span></a>
				</div>
				<div class="header-left1">
					<span class="menu"><img src="../../public/images/menu.png" alt=" "></span>
					<ul class="nav1">
						<li class="hvr-sweep-to-bottom"><a href="index.html">Inicio<i class="glyphicon glyphicon-home" aria-hidden="true"></i></a></li>
						<li class="hvr-sweep-to-bottom"><a href="services.html">Servicios<i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i></a></li>
						<li class="hvr-sweep-to-bottom"><a href="about.html">Sobre Nosotros<i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i></a></li>
						<!--<li class="hvr-sweep-to-bottom"><a href="blog.html">Blog<i class="glyphicon glyphicon-picture" aria-hidden="true"></i></a></li>-->
						<li class="hvr-sweep-to-bottom active"><a href="contact.html">Contacto<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!--Redes sociales-->
				<!--<div class="header-right">-->
					<!--<ul>-->
						<!--<li><a href="#" class="facebook"></a></li>-->
						<!--<li><a href="#" class="g"></a></li>-->
						<!--<li><a href="#" class="twitter"></a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<div class="clearfix"> </div>
			</div>
			<!-- script for menu -->
				<script> 
					$( "span.menu" ).click(function() {
					$( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					});
					});
				</script>
			<!-- //script for menu -->
		</div>
	</div>
<!-- //banner -->
<!--contact-->
	<div class="contact">
		<div class="container">
			<h3>Encuéntranos</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18091.507988782912!2d-4.404845264582242!3d36.71879057985403!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c6f0097836ee454!2sM%C3%ADmate+Centro+de+Est%C3%A9tica+y+Relajaci%C3%B3n!5e0!3m2!1ses!2ses!4v1471267802333" frameborder="0" style="border:0" allowfullscreen></iframe>
			<div class="contact-form">
				<div class="col-md-4 contact-form-left">
					<h4>Dirección :</h4>
					<p>Paseo de Reding, 53</p>
					<p>29016 Málaga, Málaga</p>
					<p>Teléfono : +34 951 25 78 23</p>
					<!--<a href="mailto:p.ortegacastellon@gmail.com">p.ortegacastellon@gmail.com</a>-->
				</div>
				<div class="col-md-8 contact-form-right">
					<h4>Sugerencias</h4>
					<form>
						<input type="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
						<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="text" value="Teléfono" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
						<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje...';}" required="">Mensaje...</textarea>
						<input type="submit" value="Enviar" >
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!--//contact-->
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="col-md-2 ftr_navi ftr">
			<h3>Mímate</h3>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="about.html">Sobre Nosotros</a></li>
			</ul>
		</div>
		<div class="col-md-3 ftr_navi ftr">
			<h3>Miembros</h3>
			<ul>
				<li><a href="services.html">Servicios</a></li>
				<li><a href="contact.html">Contacto</a></li>
			</ul>
		</div>
		<div class="col-md-3 get_in_touch ftr">
			<h3>Contacta con nosotros</h3>
			<p>Paseo de Reding, 53</p>
			<p>Frente a hotel Miramar</p>
			<p>29016 Málaga, Málaga</p>
			<p>+34 951 25 78 23</p>
			<p>De Lunes a Viernes 10:00 a 19:00</p>
			<p>Sábados de 10:00 a 13:00</p>
			<!--<a href="mailto:p.ortegacastellon@gmail.com">p.ortegacastellon@gmail.com</a>-->
		</div>
		<div class="col-md-4 ftr-logo">
			<a href="index.html"><h3>Mímate <span> Centro de estética y relajación</span></h3></a>
			<!-- Redes sociales -->
			<!--<ul>-->
			<!--<li><a href="#" class="f"> </a></li>-->
			<!--<li><a href="#" class="f1"> </a></li>-->
			<!--<li><a href="#" class="f2"> </a></li>-->
			<!--</ul>-->
			<p>© 2016 Mímate. Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--footer-->
</body>
</html>