@()
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-2 ftr_navi ftr">
            <h3>Mímate</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
            </ul>
        </div>
        <div class="col-md-3 ftr_navi ftr">
            <h3>Miembros</h3>
            <ul>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
        <div class="col-md-3 get_in_touch ftr">
            <h3>Contacta con nosotros</h3>
            <p>Paseo de Reding, 53</p>
            <p>Frente a hotel Miramar</p>
            <p>29016 Málaga, Málaga</p>
            <p>+34 951 25 78 23</p>
            <p>De Lunes a Viernes 10:00 a 19:00</p>
            <p>Sábados de 10:00 a 13:00</p>
        </div>
        <div class="col-md-4 ftr-logo">
            <a href="/"><h3>Mímate <span> Centro de estética y relajación</span></h3></a>
                <!-- Redes sociales -->
                <!--<ul>-->
                <!--<li><a href="#" class="f"> </a></li>-->
                <!--<li><a href="#" class="f1"> </a></li>-->
                <!--<li><a href="#" class="f2"> </a></li>-->
                <!--</ul>-->
            <p>© 2017 Mímate. Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--footer-->